body {
    width: 100%;
    height: 100%;
    margin: 0px;

    -ms-overflow-style: none; 
    scrollbar-width: none;  

}

body::-webkit-scrollbar {
    display: none;
}


/* 
font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Playfair Display', serif; 
*/


/* header */

.header {
    width: 1415px;
    height: 786px;

    margin: 50px auto;

}

.upper__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */

.logo {
    width: 31px;
    height: 31px;
    border: 15px solid #1ABE84;
    border-radius: 50%;
}

.circle {
    width: 23px;
    height: 23px;
    margin: 4px;
    background-color: #FB8F1D;
    border-radius: 50%;
}

/* navigation */

.navigation__bar {
    font-family: 'Inter', sans-serif;
}

.list__style {
    display: flex;
    align-items: baseline;
    list-style-type: none;
}

.link__decoration {
    text-decoration: none;
    font-size: 16px;
    color: #B8BECD;
    margin: 20px;
}

.link__decoration:hover {
    color: gray;
    transition: .5s;
}

.bold__style {
    color: #202336;
    font-weight: 500;
    font-size: 16px;
}

.bold__style:hover {
    color: black;
    transition: .5s;
}

/* buttons */

.button__margin {
    margin-left: 18px;
}

.register__button {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #FB8F1D;
    outline: none;
    border: none;
    border-radius: 7px;
    width: 132px;
    height: 44px;
    cursor: pointer;
}

.register__button:hover {
    background-color:#eb7d08;
    transition: .3s;
}

.login__button {
    width: 132px;
    height: 44px;

    font-size: 15px;
    font-family: 'Inter', sans-serif;

    color: #FB8F1D; 
    background-color: white;
    border: 1px solid #FB8F1D;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    
}

.login__button:hover {
    color: white;
    background-color: #FB8F1D;
    border: none;
    transition: .3s;
}

/* slogan container */

.slogan__container {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Playfair Display', serif; 
}

.slogan__style {
    width: 100%;
    width: 356px;
    height: 160px;
    margin-top: 130px;
}

.illustration {
    margin-top: 72px;
}

/* holiday finder */

.holiday__finder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 470px;
    height: 300px;
    margin-top: 74px;
}

.hf__style {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.hf__style::after {
    margin-top: 21px;
    content: '';
    display: block;
    width: 32px;
    height: 2px;
    background-color: #202336;
    border-radius: 1px;
    

}

/* illustration */

.lower__container {
    display: flex;
    justify-content: space-between;
}

/* select */

.wrapper {
    width:220px;
    height: 52px;
    margin-top: 30px;
}

.second__wrapper {
    width:220px;
    height: 52px;
    margin-top: 30px;
}
  
.third__wrapper {
    width: 220px;
    margin-top: 117px;
    margin-left: 30px;
}

.fourth__wrapper {
    margin-top: 30px;
    margin-left: 30px;
}

.sbx {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    border: 1.5px solid lightgray;
    border-radius: 7px;
    margin:0;
    width: 100%;    
    color: black;
    background: #fff url("http://blog.idevelopweb.site/wp-content/uploads/2016/05/nw_selarw.png") no-repeat scroll 97.5% center; 
  }
  
.cus_selt {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding:15px;
    display:block;
}

.second_cus_selt {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding:15px;
    display:block;
}

.styled {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding:21px;
    float:left;
    height: 56px;
    margin: -58px 0 0;
    opacity: 0;
    width: 100%;
    filter: alpha(opacity=0);
  }

  /* button */

.explore__button {
    font-family: 'Inter', sans-serif;
    width: 180px;
    height: 52px;
    background-color: #FB8F1D;
    color: white;
    font-weight: 500 !important;
    font-size: 17px;
    letter-spacing: .5;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;    
}

.explore__button:hover {
    background-color:#eb7d08;
    transition: .3s;
}

.explore__button__link {
    text-decoration: none;
    color: white;
}

/* second section */

.s__section__container {
    margin: 270px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 290px;
    width: 100%;
    max-width: 1400px;
    height: 550px;

}

.s__section {
    display: flex;
    align-items: center;
}

.section__title {
    font-weight: 700;
    font-family: 'Playfair Display', serif; 
    font-size: 36px;
}

.section__paragraph {
    width: 450px;
    height: 120px;
}

.section__paragraph {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
}

.s__button {
    margin-top: 25px;
    width: 164px;
    height: 48px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: #FB8F1D;

    cursor: pointer;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.s__button:hover {
    background-color:#eb7d08;
    transition: .3s;
}


.second__illustration {
    margin-left: 141px;
    margin-right: 132px;
}

/* third section */

.t__section__container {
    width: 1315px;
    height: 532px;
    margin: 262px auto;

}

.t__section__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.section__h1 {
    font-weight: 700;
    font-size: 36px;
}

.view__link {
    display: flex;
    justify-content: center;
    color: #FB8F1D;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
}

.arrow__icon {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.link__style {
    text-decoration: none;
    color: #fb8f1d;
}

.link__style:hover {
    color: #e67e00;
    transition: 0.3s;
}

.t__section__images {
    display: flex;
    justify-content: space-between;
}



/* guides */

.guides {
    width: 1220px;
    height: 542px;
    margin: 190px auto;
}


.guides__header {
    margin-top: 152px;
    font-family: 'Playfair Display', serif; 
    font-size: 36px;
    font-weight: 700;
    width: 400px;
    height: 100px;
}

.guides__paragraph {
    font-family: 'Mulish', sans-serif;
    color: #7D7987;

    font-size: 17px;
    font-weight: 300;

    width: 450px;
    height: 90px;

    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 39px;
}

/* guide download button */

.guides {
    display: flex;
    justify-content: space-between;
    margin-bottom: 248px;
}

.download__button {
    width: 164px;
    height: 48px;

    background-color: #FB8F1D;
    color: white;

    border-radius: 7px;

    outline: none;
    border: none;
    cursor: pointer;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.download__button:hover {
        background-color:#eb7d08;
        transition: .3s;
}

/* testimonials */

.testimonials {
    display: flex;
    justify-content: space-between;

    width: 1180px;
    height: 620px;

    margin: 270px auto;
}

.tes__h1 {
    color: black;
    width: 700px;
    font-size: 42px;
}

.stars {
    width: 230px;
    height: 25px;
    margin-top: 125px;
    margin-bottom: 40px;
}

.star {
    margin-right: 12px;
}

.review {
    width: 470px;
    height: 321px;
}

.review__paragraph {
    font-family: 'Mulish', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    margin-bottom: 40px;
}

.name {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;

    margin-bottom: 10px;
}

.founder__circle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.authors__image {
    margin-top: 50px;
}

/* trending stories block */

.trending__stories {
    width: 1222px;
    max-width: 1150px;
    height: 684px;

    margin: 220px auto;
}

.stories__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.stories__heading {
    font-family: 'Playfair Display', serif; 
    font-weight: 700;
    font-size: 36px;
}

.stories__blocks {
    display: flex;
}

.block {
    width: 266px;
    height: 446px;
    margin-right: 30px;
}

.stories__image {
    border-radius: 7px 7px 0px 0px;
}

.block__title {
    width: 219px;
    height: 60px;
    margin-bottom: 13px;
    margin-top: 10px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
}

.fb__description {
    width: 240px;
    height: 78px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #7D7987;
}

.readm__link {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #FB8F1D;
    text-decoration: none;
}

.readm__link:hover {
    color: #e67e00;
    transition: 0.3s; 
}

.first_b {
    margin-left: 5px;
}

/* second block */

.secondb__title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;

    margin-top: 10px;
    margin-bottom: 13px;

}

.secondb__description {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #7D7987;

    width: 245px;
    height: 78px;
}

/* third block */

.thirdb__title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;

    width: 252px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 13px;
}

.thirdb__description {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #7D7987;

    width: 260px;
    height: 78px;
}

/* fourth block */

.fourthb__title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;

    width: 251px;
    height: 60px;

    margin-top: 10px;
    margin-bottom: 13px;
    
}

.fourthb__description {
    width: 240px;
    height: 78px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #7D7987;

}

/* footer */

.footer__container {
    margin: 0 auto;

    position: absolute;
    width: 100%;
    height: 482px;
    
    background-color: #F9F9FB;
}

.flogo__margin {
    margin-top: 100px;
}

/* footer description */

.footer {
    display: flex;

    width: 1500px;
    height: 482px;
    margin: 0 auto;
}


.footer__description {
    width: 391px;
    height: 300px;
    margin-left: 240px;
}

.description__text {
    margin-top: 26px;
}

.f_description {
    width: 350px;
    height: 84px;

    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #848484;

    margin-bottom: 55px;
}

.all__rights__reserved {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #848484;

    margin-top: 55px;
}

/* footer navigations */

    /* destinations */

.destinations__nav {
    width: 270px;
    height: 249px;

    margin-top: 90px;
    margin-left: 108px;
}

.destinations__list {
    display: flex;
    flex-direction: column;
}

.destinations__title {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 60px;
}

.nav__links {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    text-decoration: none;
    color: #848484;

}

    /* shop */

.shop__nav {
    margin-top: 90px;
}

.shop__list {
    display: flex;
    flex-direction: column;
}

.shop__title {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 60px;
}

    /* interests */

.interests__nav {
    margin-top: 90px;
    margin-left: 110px;
}

.interests__list {
    display: flex;
    flex-direction: column;
}

.interests__title {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 60px;
}

.nav__container {
    display: flex;
    position: relative;
}

/* icons */

.icons__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 250px;
    height: 23px;
}
